<h1>Angular Router Example</h1>
<router-outlet></router-outlet>
<nav>
    <a class="button" 
        routerLink="/crisis-list"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
    Crisis Center
    </a> |
    <a class="button" 
        routerLink="/heroes"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
    Heroes
    </a>
    <a [routerLink]="[{ outlets: {popup: ['compose']}}]">
        Contato
    </a>
    <app-name-editor></app-name-editor>
    <app-profile-editor></app-profile-editor>
</nav>